{% extends './base.html'%}

{% block tittle %} Productos {% endblock%}

{% block body %}
<div class="titulo">
		<h1>MARLBORO</h1>
	</div>
<div class="frut">
  <div class="tarjeta">
    <div class="tr-img">
      <img class="td-img" src="../static/rojos.jpg" alt="">
    </div>
      <div class="tr-header">
        <h1>Marlboro rojo</h1>
      </div>
      <div class="tr-body">
        <p>$75</p>
      </div>
        <div class="tr-body">
          <p>Disponibles en variaciones con sabor completo y ligero.</p>
        </div>
          <div class="tr-footer">
            <a href="" class="btk"><strong>Comprar</strong></a>
            <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
          </div>
  </div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/mediano.png" alt="">
  </div>
    <div class="tr-header">
      <h1>Marlboro mediano</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
</div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/ligero.jpg" alt="">
  </div>
    <div class="tr-header">
      <h1>Marlboro ligero</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
</div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/ultra_ligero.png" alt="">
  </div>
    <div class="tr-header">
      <h1>Marlboro ultra ligero</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
</div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/mentolados.jpeg" alt="">
  </div>
    <div class="tr-header">
      <h1>Marlboro mentolado</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>

</div>
<div class="frut">
  <div class="tarjeta">
    <div class="tr-img">
      <img class="td-img" src="../static/ruby.jpeg" alt="">
    </div>
      <div class="tr-header">
        <h1>Marlboro ruby</h1>
      </div>
      <div class="tr-body">
        <p>$75</p>
      </div>
        <div class="tr-body">
          <p>Disponibles en variaciones con sabor completo y ligero.</p>
        </div>
          <div class="tr-footer">
            <a href="" class="btk"><strong>Comprar</strong></a>
            <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
          </div>
  </div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/sandia.png" alt="">
  </div>
    <div class="tr-header">
      <h1>Marlboro sandia</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
</div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/maria.jpg" alt="">
  </div>
    <div class="tr-header">
      <h1>Marlboro marihuana</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>

</div>
<div class="titulo">
		<h1>PALL MALL</h1>
	</div>
<div class="frut">
  <div class="tarjeta">
    <div class="tr-img">
      <img class="td-img" src="../static/pallmallrojos.png" alt="">
    </div>
      <div class="tr-header">
        <h1>Pall Mall rojo</h1>
      </div>
      <div class="tr-body">
        <p>$75</p>
      </div>
        <div class="tr-body">
          <p>Disponibles en variaciones con sabor completo y ligero.</p>
        </div>
          <div class="tr-footer">
            <a href="" class="btk"><strong>Comprar</strong></a>
            <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
          </div>
  </div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/pallmallblancos.jpg" alt="">
  </div>
    <div class="tr-header">
      <h1>Pall Mall blancos</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
  <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/doblecapsula.jpg" alt="">
  </div>
    <div class="tr-header">
      <h1>Pall Mall doble capsula</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
  <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/pallmallpepino.webp" alt="">
  </div>
    <div class="tr-header">
      <h1>Pall Mall pepino</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
</div>
<div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/pallmallmenta.webp" alt="">
  </div>
    <div class="tr-header">
      <h1>Pall Mall mentolado</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
	</div>
<div class="titulo">
		<h1>CAMEL</h1>
	</div>
<div class="frut">
  <div class="tarjeta">
    <div class="tr-img">
      <img class="td-img" src="../static/camelfilters.webp" alt="">
    </div>
      <div class="tr-header">
        <h1>Camel filters</h1>
      </div>
      <div class="tr-body">
        <p>$75</p>
      </div>
        <div class="tr-body">
          <p>Disponibles en variaciones con sabor completo y ligero.</p>
        </div>
          <div class="tr-footer">
            <a href="" class="btk"><strong>Comprar</strong></a>
            <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
          </div>
  </div>
  <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/lights.webp" alt="">
  </div>
    <div class="tr-header">
      <h1>Camel lights</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
  <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/smooth.webp" alt="">
  </div>
    <div class="tr-header">
      <h1>Camel smooth</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
  <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/Natural Flavour.jpg" alt="">
  </div>
    <div class="tr-header">
      <h1>Camel Natural Flavour</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
  <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/Orange.webp" alt="">
  </div>
    <div class="tr-header">
      <h1>Orange camel</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <!-- <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> -->
        </div>
  </div>
</div>
<!-- <div class="tarjeta">
  <div class="tr-img">
    <img class="td-img" src="../static/blancos.webp" alt="">
  </div>
    <div class="tr-header">
      <h1>Blancos</h1>
    </div>
    <div class="tr-body">
      <p>$75</p>
    </div>
      <div class="tr-body">
        <p>Disponibles en variaciones con sabor completo y ligero.</p>
      </div>
        <div class="tr-footer">
          <a href="" class="btk"><strong>Comprar</strong></a>
          <button class="btk" href="{{ url_for('carta')}}" ><strong>Comprar</strong></button> 
        </div>
</div> -->
{% endblock%}