{% extends './base.html'%}

{% block tittle %} Galeria {% endblock%}

{% block body %}
<div class="def">
<div class="container">
  <div class="panel active" style="background-image: url('../static/5.png')">
  </div>
  <div class="panel" style="background-image: url('../static/6.jpeg')">
  </div>
  <div class="panel" style="background-image: url('../static/7.jpeg')">
  </div>
  <div class="panel" style="background-image: url('../static/8.jpg')">
  </div>
  <div class="panel" style="background-image: url('../static/9.jpg')">
  </div>

</div>
</div>
{% endblock %}

