{% extends './base.html'%}

{% block tittle %} Localización {% endblock%}

{% block body %}
<p class="text">PHILIP MORRIS MEXICO</p>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838460.4368441217!2d-102.93445964854064!3d20.029635134949498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2028d8af5895b%3A0xebb7cb23063ae4e0!2sPhilip%20Morris%20Mexico!5e0!3m2!1ses-419!2smx!4v1678851226161!5m2!1ses-419!2smx" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="loc">
      <p>DIRECCIÓN:
      <br>
      C. Lago Zurich 245-Piso 3,
      <br>
      Amp Granada, Miguel Hidalgo,
      <br>
      C.P.11529
      <br>
      MINUCIPIO:
      <br>
       Ciudad de México, CDMX</p> </div>
      </div>
      <p class="text">PHILIP MORRIS MEXICO</p>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3823187.0285004196!2d-107.90122717499996!3d20.645925399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ac3a6f08b00b%3A0x7d94ddd533c3a424!2sPhilip%20Morris%20Mexico!5e0!3m2!1ses-419!2smx!4v1678851648388!5m2!1ses-419!2smx" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="loc">
      <p>DIRECCIÓN:
      <br>
      Amado Nervo 1201 Mirador
      <br>
      del Sol
      <br>
      C.P.45050
      <br>
      MUNICIPIO:
      <br>
      Zapopan, Jal.</p> </div>
      </div>
{% endblock %}
